%div#main
  
  %div#form{:class=>"view"}
    %form#config{:action=>"#/view/", :method=>"get"}
      %ul
        %li
          %label{:for => 'url'}
          %strong Image URL:
          %ul
            %li
              %input#url{:type => 'text', :name => "url"}
            %li
              %a{:href=>'http://imgur.com/'} Need to upload your photo?
        %li
          Slider
          %ul
            %li Less detail, fewer bricks
            %li More detail, more bricks
        %li
          %input{:type => 'submit', :value => "Brickify!"}
  
  %hr
  
  %div#view{:class=>"view", :style=>"display: none;"}
    %div
      %h1 Wow, looks great!
      %p Here's your Brickified photo.
    %canvas#iso{:width=>"800", :height => '600'}
    %a#edit-link Edit
    .controls
      %a#fit{:href => "#"} Fit
      %a#full{:href => "#"} Full
    #iso_viewer.fit
      %img#out
    
    %a#schematic_link{:href => "", :target => '_blank'} Schematic
  
  %div#edit{:class=>"view", :style=>"display: none;"}
    %canvas#canvas{:width=>"800", :height => '600'}
    %div{:id => "palette"}
    %a#view-link Save and View
    
  %div#inventory{:class=>"view", :style=>"display: none;"}
    %table#inventory
      %thead
        %tr
          %th Color
          %th Size
          %th QTY
      %tbody
    
%a{:href => "#/"} Start Over


%canvas#schematic{:width=>"800", :height => '600'}
