%canvas#canvas1{:width=>"800", :height => '600'}
%hr
%canvas#canvas2{:width=>"800", :height => '600'}
%hr
%canvas#canvas3{:width=>"800", :height => '600'}
%hr
%canvas#canvas4{:width=>"800", :height => '600'}
%hr
%canvas#canvas5{:width=>"800", :height => '600'}
%div{:id => "palette"}