%div#main

  %div#form{:class=>"view"}
    %form#config{:action=>"#/view/", :method=>"get"}
      %label{:for => 'url'} Image URL:
      %input#url{:type => 'text', :name => "url"}
      %input{:type => 'submit', :value => "Brickify!"}
    
  %div#view{:class=>"view", :style=>"display: none;"}
    %canvas#iso{:width=>"800", :height => '600'}
    %a#edit-link Edit
    .controls
      %a#fit{:href => "#"} Fit
      %a#full{:href => "#"} Full
    #iso_viewer.fit
      %img#out
      
    %ul#inventory
  
  %div#edit{:class=>"view", :style=>"display: none;"}
    %canvas#canvas{:width=>"800", :height => '600'}
    %div{:id => "palette"}
    %a#view-link Save and View
    
%a{:href => "#/"} Start Over
