%div#main

  %div#about
    %h2
      About
    
    #video
      
      #player
    
      #vid_description
      
        %h3 What is Brickify?
        %p Brickify is a web application that allows you to upload images and transform them into plans for building bricks.
        
        %h3 Who built this and why?
        %p
          Brickify is an app created by Carsonified. It all started during a team building week at our new Orlando, Florida office. We took a fun trip to the local Lego store, and Jim thought it might be fun to build the Carsonified logo in Lego bricks.
        %p
          We searched the web, but we couldn't find any web apps that transformed images into lego plans, so we decided to build one ourselves.
          
        %h3 How does Brickify work?
        %p I don't know... Alan, how does Brickify work?
        
    
    #profiles

      .person
        .picture
          %img{:src => "images/ryan.jpg"}
        .info
          %p.name
            %strong
              Ryan Carson,
            Founder
          %a{:href => "http://twitter.com/ryancarson", :class => "twitter"}
            @ryancarson

      .person
        .picture
          %img{:src => "images/jim.jpg"}
        .info
          %p.name
            %strong
              Jim Hoskins,
            Developer
          %a{:href => "http://twitter.com/jimrhoskins", :class => "twitter"}
            @jimrhoskins

      .person
        .picture
          %img{:src => "images/allison.jpg"}
        .info
          %p.name
            %strong
              Allison House,
            Designer
          %a{:href => "http://twitter.com/allison_house", :class => "twitter"}
            @allison_house

      .person
        .picture
          %img{:src => "images/alan.jpg"}
        .info
          %p.name
            %strong
              Alan Johnson,
            Developer
          %a{:href => "http://twitter.com/commondream", :class => "twitter"}
            @commondream
     
      .person
        .picture
          %img{:src => "images/nick.jpg"}
        .info
          %p.name
            %strong
              Nick Pettit,
            Designer
          %a{:href => "http://twitter.com/nickrp", :class => "twitter"}
            @nickrp
            

      
  
  %div#form{:class=>"view"}
    %form#config{:action=>"#/view/", :method=>"get"}
      %ul
        %li
          %label{:for => 'url'}
          %strong Image URL:
          %ul
            %li
              %input#url{:type => 'text', :name => "url"}
            %li
              %a{:href=>'http://imgur.com/'} Need to upload your photo?
        %li
          Slider
          %ul
            %li Less detail, fewer bricks
            %li More detail, more bricks
        %li
          %input{:type => 'submit', :value => "Brickify!"}
  
  %hr
  
  %div#view{:class=>"view", :style=>"display: none;"}
    %div
      %h1 Wow, looks great!
      %p Here's your Brickified photo.
    %canvas#iso{:width=>"800", :height => '600'}
    %a#edit-link Edit
    .controls
      %a#fit{:href => "#"} Fit
      %a#full{:href => "#"} Full
    #iso_viewer.fit
      %img#out
    
    %a#schematic_link{:href => "", :target => '_blank'} Schematic
  
  %div#edit{:class=>"view", :style=>"display: none;"}
    %canvas#canvas{:width=>"800", :height => '600'}
    %div{:id => "palette"}
    %a#view-link Save and View
    
  %div#inventory{:class=>"view", :style=>"display: none;"}
    %table#inventory
      %thead
        %tr
          %th Color
          %th Size
          %th QTY
      %tbody
    
%a{:href => "#/"} Start Over


%canvas#schematic{:width=>"800", :height => '600'}
