!!!5
%html
  %head
    %title Jim Hoskins
    %link{:rel=>'stylesheet', :href=>'/css/main.css'}
    
  %body
    =yield
    %script{:src => 'js/jquery.js'}
    %script{:src => 'js/underscore.js'}
    %script{:src => 'js/backbone.js'}
    %script{:src => '/js/app.js'}
    