!!!5
%html
  %head
    %title Brickify
    %link{:rel=>'stylesheet', :href=>'/css/reset.css'}
    %link{:rel=>'stylesheet', :href=>'/css/fontface.css'}
    %link{:rel=>'stylesheet', :href=>'/css/main.css'}
    %script{:src => 'js/jquery.js'}
    %script{:src => 'js/dragscrollable.js'}
    %script{:src => 'js/underscore.js'}
    %script{:src => 'js/backbone.js'}
    %script{:src => 'js/sammy.min.js'}
    %script{:src => '/js/app.js'}

  %body
    #wrapper
      %h1#logo Brickify
      =yield

    
