!!!5
%html
  %head
    %title Brickify
    %link{:rel=>'stylesheet', :href=>'/css/reset.css'}
    %link{:rel=>'stylesheet', :href=>'/css/fontface.css'}
    %link{:rel=>'stylesheet', :href=>'/css/main.css'}
    %script{:src => 'js/jquery.js'}
    %script{:src => 'js/dragscrollable.js'}
    %script{:src => 'js/underscore.js'}
    %script{:src => 'js/backbone.js'}
    %script{:src => 'js/sammy.min.js'}
    %script{:src => '/js/app.js'}
    <!--[if IE]>
    %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    <![endif]-->
    <!--[if lt IE 9]>
    %script{:src => 'http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js'}
    <![endif]-->

    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-107180-36']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type ='text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' :'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>

  %body
    #wrapper
      %header
        %a#logo{:href=>'/'}
          %h1 Brickify
        
      =yield

    
