body
  background: url('/images/bg.png') top center
  margin-top: 30px
  font:
    family: "Proxima Nova", arial, "sans-serif"
    size: 16px
  line-height: 1.25em
  color: #333
    
a
  text-decoration: none
  color: #274a94
  
  &:hover
    color: #3769ad
  
  &:active
    position: relative
    top: 1px

hr
  display: none
  
#wrapper
  width: 960px
  margin: 0 auto
  
#main
  background-color: #eee
  -webkit-box-shadow: -1px 1px 0px #ddd, -2px 2px 0px #ddd
  -moz-box-shadow: -1px 1px 0px #ddd, -2px 2px 0px #ddd
  box-shadow: -1px 1px 0px #ddd, -2px 2px 0px #ddd
  border: 1px solid #ddd
  padding: 30px 30px
  margin-top: 30px
  clear: both


/* Header

#logo
  display: block
  width: 330px
  height: 0
  padding-top: 50px
  overflow: hidden
  background: url('/images/brickify.png') no-repeat
  margin: 0 auto 30px auto
  
/* Form

#form
  padding: 10px 0
  
#form h2
  font:
    size: 36px
  text-align: center
  display: block
  padding-bottom: 30px
  
#sample
  float: right
  background: #fff
  border: 1px solid #bbb
  -webkit-box-shadow: inset 0px 0px 5px #bbb
  -moz-box-shadow: inset 0px 0px 5px #bbb
  box-shadow: inset 0px 0px 5px #bbb
  padding: 15px
  font-weight: normal
  text-transform: uppercase
  color: #999
  font:
    size: 14px
    
#config
  float: left
  width: 500px
  


/* Edit and Download Buttons

#buttons
  display: block
  background: green

#edit-link, #download-link, #schematic-link
  display:block
  width: 240px
  float: left
  padding: 15px 15px
  color: #fff
  text-align: center
  margin: 0 auto

  strong
    font:
      size: 20px
      
#download-link
  background: #e75f32
  -webkit-box-shadow: -1px 1px 0px #d73527, -2px 2px 0px #d73527
  -moz-box-shadow: -1px 1px 0px #d73527, -2px 2px 0px #d73527
  box-shadow: -1px 1px 0px #d73527, -2px 2px 0px #d73527
  border: 1px solid #d73527
  text-shadow: -1px -1px 0 #d73527
  margin-right: 40px
  
  &:hover
    background: #ed6c33

#edit-link
  background: #3769ad
  -webkit-box-shadow: -1px 1px 0px #274a94, -2px 2px 0px #274a94
  -moz-box-shadow: -1px 1px 0px #274a94, -2px 2px 0px #274a94
  box-shadow: -1px 1px 0px #274a94, -2px 2px 0px #274a94
  border: 1px solid #274a94
  text-shadow: -1px -1px 0 #274a94
  
  &:hover
    background: #407ecb

#schematic-link
  background: #e4d423
  -webkit-box-shadow: -1px 1px 0px #d1c100, -2px 2px 0px #d1c100
  -moz-box-shadow: -1px 1px 0px #d1c100, -2px 2px 0px #d1c100
  box-shadow: -1px 1px 0px #d1c100, -2px 2px 0px #d1c100
  border: 1px solid #d1c100
  text-shadow: -1px -1px 0 #d1c100
  margin-right: 40px

  &:hover
    background: #e9da2d


/* View Area

#view-area
  clear: both
  min-height: 500px

#iso_viewer
  position: relative
  background: #fff
  border: 1px solid #bbb
  -webkit-box-shadow: inset 0px 0px 5px #bbb
  -moz-box-shadow: inset 0px 0px 5px #bbb
  box-shadow: inset 0px 0px 5px #bbb
  margin-top: -12px

  &.full
    overflow: auto
    height: 500px

  &.fit img
    width: 100%
    
ul.controls
  z-index: 1000
  position: relative
  display: inline-block
  top: 32px
  left: 7px
  text-transform: uppercase
  background: #bbb
  width: 121px
  border: 1px solid #999
  font:
    size: 14px
  
  li
    float: left
    text-align: center
    
    &:first-child
      border-right: 1px solid #999
    
  a
    display: block
    color: #fff
    width: 60px
    padding: 5px 0
    text-shadow: -1px -1px 0 #aaa
    
    &:hover
      background: #ccc
      
/* Color palette selectors

.color
  width: 40px
  height: 40px
  border: 1px solid #000
  float: left
  margin-right: 5px
  
footer
  clear: both

#about
  
  h2
    font-weight: bold
    font-size: 2em
    margin-bottom: 15px
  
  #video
    float: left
    width: 600px
    margin-right: 15px
    
    #player
      width: 600px
      height: 338px
      background: #FF9900
      margin-bottom: 15px
    
    #vid_description
    
      h3
        font-weight: bold
        font-size: 1.2em
        margin-bottom: 12px
      
      p
        margin-bottom: 24px
    
  
  #profiles
    float: left
    width: 313px
    height: 480px

    .person
      float: left
      background: #ddd
      width: 100%
      margin-bottom: 20px

      .picture
        width: 64px
        height: 64px
        float: left
        margin-right: 15px
      
      .info
        float: left
        margin-top: 15px
    
      .name
        font-size: 1.2em

      .twitter
        font-weight: bold
